@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

html, main{
    height: 70vh;
    width: 98vw;
    margin: auto;
    background-color: hsl(212, 45%, 89%);
    padding-top: 50px;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}

p{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
    padding-top: 20px;
    color: hsl(220, 15%, 55%);
}

.container{
    position: relative;
    background-color: white;
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:hover{
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.466);
    transition: 1s;

}

.img > img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}
